<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery-3.4.1.min.js"></script>
    <style>
        body  { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> <%= title %></h1>
  

    <!-- LOGIN FORM -->



<div id='score'>

</div>
<script>


    $.ajax({
        type: 'GET',
        url: '/score',
        success: function(result) {
             $('#score').html(result);
        }
      });




</script>
        

  

</div>
</div>
</body>
</html>